html {
background-image: url("../images/vader3.png");
  margin: 0;
  padding: 0;
  width: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica';
}
.wrapper {
   border: 3px solid yellow;
   width: 800px;
   height: 600px;
   position: absolute;
   top: 30%;
   left: 30%;
   transform: translate (-50%, -50%);
   background-image: url('../images/star-wars-game-background.jpg');
   background-position: center;
   overflow: hidden;
   cursor: url("../images/BlueLsaber.png"), auto; 
}

.score {
    font-size: 150px;
    color: yellow;
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 200px;
    height: 100px;
    text-align: center;
    transition: all ease-in-out 3000ms;
}
.countdown {
  position: absolute;
  top: 490px; 
  width: 100%; 
  font-size: 20px;
  text-align: center;
  color: rgb(250, 226, 13) ;
  font: 20px bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.startButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: purple;
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: 3px soild white; 
    transition: all ease-in-out 3000ms;
    border: 3px solid yellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.startButton:hover {
    outline: 3px soild white;
    outline-offset: -5px;
}
.game {
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
    
}
.hole {
    overflow: hidden;
    background-repeat: no-repeat;
    flex: 1 0 33%;
    min-height: 100px;
    position: relative;
}
.hole:after {
    content: '';
    display: block;
    background-image: url('../images/death-star.png');
    background-repeat:no-repeat;
    position: absolute;
    width: 200px;
    height: 150px;
    z-index: 2;
    bottom: -30px;
    background-size: contain;
}

.vader {
    background-image: url('../images/vader1.png');
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-position: bottom;
}

.vader.small {
    background-size: 115%;
}
.vader.large {
    background-size: 115%;
}
.hole.up .vader {
    top: 0;
}